<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <script>
      window.addEventListener('load', function () {
  

      function findGetParameter(parameterName) {
    var result = null,
        tmp = [];
    location.search
        .substr(1)
        .split("&")
        .forEach(function (item) {
          tmp = item.split("=");
          if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
        });
    return result;
}
      if(findGetParameter("key")){
        document.getElementById("keyInput").value = findGetParameter("key")
      }
      })
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Spacechat, Free, Coming soon!">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Access Code</title>
    <link rel="stylesheet" href="/css/maincss.css" media="screen">
<link rel="stylesheet" href="/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/mainjs.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Spacechat",
		"logo": "images/Spacechat-Logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body u-xl-mode"><header class="u-black u-clearfix u-header u-header" id="sec-645c"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-active-color u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-black u-black u-button-style u-nav-link u-text-active-palette-4-base u-text-hover-palette-2-base" href="/" style="padding: 26px 54px;">Home</a>
</li><li class="u-nav-item"><a class="u-active-black u-black u-button-style u-nav-link u-text-active-palette-4-base u-text-hover-palette-2-base" href="/signup" style="padding: 26px 54px;">Create an account</a>
</li><li class="u-nav-item"><a class="u-active-black u-black u-button-style u-nav-link u-text-active-palette-4-base u-text-hover-palette-2-base" href="/login" style="padding: 26px 54px;">Login</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/signup">Signup</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login">Login</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="/" class="u-image u-logo u-image-1" data-image-width="392" data-image-height="319">
          <img src="images/Spacechat-Logo.png" class="u-logo-image u-logo-image-1">
        </a>
      </div></header>
    
    
    <section class="u-align-center u-clearfix u-section-2" id="sec-ffb9">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class=" u-container-layout u-valign-middle u-container-layout-1">
                <center>
                  <p style="color: red;"><%= msg %></p>
                  <form method="post" action="/requestaccess">
                  <p class="u-text-1">Access Code</p>
                  <input placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" required id="keyInput" name="key">
                  <a href="" class="u-active-grey-50 u-border-none u-btn u-button-style u-hover-palette-3-base u-palette-2-base u-btn-1"><button type="submit" style="background-color: transparent; border-color: transparent;">Create account!</button></a>
                </form></center>
                </div>
              </div>
              
            
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e40b"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Spacechat©️ - 2022</p>
      </div></footer>
    
  </body>
</html>